/* styles.css */
body {
  background-color: lightgrey;
  color: white;
}

.section {
  background: linear-gradient(#1e2669, #39487e);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin-bottom: 5px;
  font-size: 1em;
}

.focus-block {
  display: flex;
  justify-content: space-between;
/*   align-items: center; */
  margin: 0;
  padding: 0;
/*   height: 20%; */
  font-size: 2.3vw;
}

.appliance {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 5px 10px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 10px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input[type="checkbox"]:checked + .slider {
  background-color: limegreen;
}

input[type="checkbox"]:checked + .slider:before {
  transform: translateX(20px);
}

.subsection {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.placeholder-box {
  width: 100px;
  background: #39487e;
  margin-bottom: 20px;
  border-radius: 7px;
  box-shadow: 2px 2px 5px #232469;
}

.placeholder-box p, .placeholder-boxx p{
  margin: 3px;
  padding: 3px;
}

.placeholder-box p:nth-child(1), .placeholder-boxx p:nth-child(1){
  margin: 10px;
  padding: 10px;
}



.placeholder-boxx {
  width: 100px;
  background: #39487e;
  margin-bottom: 20px;
  border-radius: 7px;
  box-shadow: 2px 2px 5px #232469;
}

.placeholder-box .placeholder-content, .placeholder-boxx .placeholder-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.placeholder-boxx:nth-child(2){
  background-color:#29487e;
}

.circle-placeholder {
  width: 20px;
  height: 20px;
  background-color: lightgray;
  border-radius: 50%;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  /* Adjust styles for screens up to 768px width */
  .focus-block {
      font-size: 3.3vw;
  }

  .placeholder-box,
  .placeholder-boxx {
      width: 80px;
  }
}

@media screen and (max-width: 480px) {
  /* Adjust styles for screens up to 480px width */
  .focus-block, * {
      font-size: 3.3vw;
  }

  .placeholder-box,
  .placeholder-boxx {
      width: 40px;
  }
}

.calender-events{
 display: flex;
 border-bottom: 2px solid #232468;
 justify-content: space-between;
height: 30px;
border-radius: 7px;
 margin: 5px;
}


.heading{
  text-align: center;
  margin: 0;
  padding: 0;
}
